/*
Buttons

Buttons

Markup:
<a href="" class="btn {$modifiers}">Button</a>

.btn--hollow      - Hollow button
.btn--hollow-white  - Hollow button
.btn--blue        - Blue button
.btn--block       - Block button
.btn--small       - Small button
.btn--plain       - Plain button
.btn--huge       - Huge button

Styleguide Common.Buttons

*/
a {
  color: green;
}
body {
  background-color: yellow;
}
